*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.time{
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.time h1{
  font-size: 4rem;
}

.time small{
  font-size: 24px;
}