body{
    margin: 0;
    padding: 0;
}

.winner-msg h1{
    /* visibility: hidden; */
    text-align: center;
    margin-bottom: 50px;
}

.score-display{
    display: flex;
    width: 100%;
    gap: 200px;
    align-items: center;
    justify-content: center;
}

.p1-score, .p2-score{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.p1-score label, .p2-score label{
    font-size: 24px;
}

.input-field{
    display: flex;
    width: 100%;
    justify-content: center;
}

.match-input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
}

.match-length{
    text-align: center;
}

.p1-input, .p2-input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.p1-input button, .p2-input button{
    margin-top: 25px;
}

.p1-input label, .p2-input label{
    font-size: 24px;
}

.win{
    color: green;
}